*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
#topButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #242424;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
#topButton:hover {
    background-color: #555;
}
.header{   
    width: 100%;
    height: 100vh;
    background: #242424;
    padding-left: 8%;
    padding-right: 8%;
}
.header .top-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 15px;
    border-bottom: 1px solid #fff;
}
.header .top-nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header .top-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.header .top-nav ul li h1{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    max-width: 550px;
}
.header .top-nav button{
    background: #404040;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0;
}
.header .top-nav .menu{
    display: inline-block;
}
.mobileHeader {
    display: none;
}
.header .text-box{
    margin-top: 10%;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.header .text-box .content img{
    width: 300px;
    height: 300px;
}
.header .text-box .content h1{
    font-weight: 500;
    font-size: 86px;
    line-height: 95px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.body{   
    width: 100%;
    background: #404040;
    padding-left: 8%;
    padding-right: 8%;
}
.body .text-box{
    padding-top: 30vh;
    padding-bottom: 30vh;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
}
.body .text-box h1{
    font-weight: 500;
    font-size: 86px;
    max-width: 550px;
    line-height: 95px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.body .text-box h3{
    font-weight: 500;
    font-size: 30px;
    max-width: 550px;
    font-style: bold;
}
.body .text-box .content {
    width: 50%;
    float: left;
    padding: 20px;
} 
.footer{   
    width: 100%;
    background: #242424;
    padding-left: 8%;
    padding-right: 8%;
}
.footer .text-box{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 18px;
    color: #fff;
}
.footer .text-box h1{
    font-weight: 500;
    font-size: 30px;
    max-width: 50px;
    line-height: 95px;
}
.footer .text-box .icons{
    display: flex;
    align-items: center;
}
.footer .text-box .icons img{
    width: 50px;
    height: 50px;
}

/* Modal Content */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
position: relative;
background-color: #404040;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 20%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
from {top:-300px; opacity:0} 
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: white;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: #242424;
color: white;
}

.modal-body {
    padding: 2px 16px;
    color: white;
}

.modal-footer {
padding-top: 20px;
background-color: #242424;
color: white;
}

/* SlideShow Content */
 
.slideset .div .img {
    width: 100px;
    height: 100px;
}

#slideset {height: 10em; position: relative; overflow: hidden}
#slideset > * {position: absolute; top: 15%; left: 100%; animation: 9s autoplay infinite}
@keyframes autoplay {
0% {left: 100%}
100% {left: -50%}
}
#slideset > *:nth-child(1) {animation-delay: 0s}
#slideset > *:nth-child(2) {animation-delay: 1.5s}
#slideset > *:nth-child(3) {animation-delay: 3s}
#slideset > *:nth-child(4) {animation-delay: 4.5s}
#slideset > *:nth-child(5) {animation-delay: 6s}
#slideset > *:nth-child(6) {animation-delay: 7.5s}

/*Media Queries*/

@media (max-width: 1340px) {
    .modal-content {
        width: 25%;
    }
}
@media (max-width: 1070px) {
    .body .text-box h1{
        font-size: 70px;
        line-height: 70px;
    }
    .modal-content {
        width: 30%;
    }
}
@media (max-width: 900px) {
    .modal-content {
        width: 35%;
    }
}
@media (max-width: 830px) {
    .body .text-box h1{
        font-size: 60px;
        line-height: 60px;
    }
    .modal-content {
        width: 35%;
    }

    .header .top-nav ul li a{
        font-size: 13px;
    }
    .header .top-nav ul li h1{
        font-weight: 500;
        font-size: 18px;
    }
}
@media (max-width: 770px) {
    .modal-content {
        width: 40%;
    }
}
@media (max-width: 760px) {
    .header .top-nav .menu{
        display: none;
    }
    .mobileHeader {
        display: inline-block;
    }
}
@media (max-width: 730px) {
    .modal-content {
        width: 45%;
    }
    .body .text-box h1{
        font-size: 50px;
        line-height: 50px;
    }
    .body .text-box h3{
        font-size: 25px;
    }
    .body .text-box .content {
        font-size: 15px;
    } 
}
@media (max-width: 625px) {
    .modal-content {
        width: 50%;
    }
    .body .text-box{
        display: block;
    }
    .body .text-box .content {
        width: 100%;
        float: none;
    } 
}
@media (max-width: 550px) {
    .modal-content {
        width: 60%;
    }
    .header .top-nav ul li{
        display: block;
    }
    .header .top-nav ul li h1{
        display: none;
    }
    .header .text-box .content img{
        width: 250px;
        height: 250px;
    }
    .header .text-box .content h1{
        font-size: 60px;
        line-height: 60px;
    }
    .header{   
        height: 80vh;
    }
    .body .text-box{
        padding-top: 25vh;
        padding-bottom: 25vh;
    }
}
@media (max-width: 455px) {
    .modal-content {
        width: 70%;
    }
    #slideset > * {position: absolute; top: 15%; left: 100%; animation: 12s autoplay infinite}
    @keyframes autoplay {
        0% {left: 100%}
        100% {left: -100%}
    }
    #slideset > *:nth-child(1) {animation-delay: 0s}
    #slideset > *:nth-child(2) {animation-delay: 2s}
    #slideset > *:nth-child(3) {animation-delay: 4s}
    #slideset > *:nth-child(4) {animation-delay: 6s}
    #slideset > *:nth-child(5) {animation-delay: 8s}
    #slideset > *:nth-child(6) {animation-delay: 10s}
}
@media (max-width: 430px) {
    .modal-content {
        width: 70%;
    }

}
@media (max-width: 400px) {
    .modal-content {
        width: 80%;
    }
    .header .text-box .content h1{
        font-size: 50px;
        line-height: 50px;
    }
}
@media (max-width: 345px) {
    .modal-content {
        width: 90%;
    }
    .header .text-box .content h1{
        font-size: 40px;
        line-height: 40px;
    }
    .header .text-box .content img{
        width: 200px;
        height: 200px;
    }
    .header{   
        height: 60vh;
    }
    .body .text-box{
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
}
